:root {
	--accent: #FFB805;
	--text: #3B3431;
	--regular-text: 16px;
	--lineheight: 1.65;
	--userfont: bender-st, sans-serif;
	--systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
}

@font-face { src: url("../fonts/bender.woff2") format("woff2"); font-family: "bender-st"; font-weight: 400; font-style: normal; font-display: swap;}
@font-face { src: url("../fonts/benderbold.woff2") format("woff2"); font-family: "bender-st"; font-weight: 700; font-style: normal; font-display: swap;}

::placeholder { color: #666; }
::selection { background-color: var(--accent); color: var(--text); text-shadow: 0 0 0 #000;}
input, textarea { outline: none; }
input:focus:required:invalid, textarea:focus:required:invalid { border-color: red; }
input:required:valid, textarea:required:valid { border-color: green; }

body {
	font-family: var(--userfont);
	font-size: var(--regular-text);
	line-height: var(--lineheight);
	color: var(--text);
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
	background-color: #F1EBE5;
}

section, footer {
	text-align: center;
}

hr {
	background: var(--accent);
	width: 60%;
	max-width: 200px;
	opacity: 1;
}

hr:not([size]) {
	height: 3px;
}

.accent_bg {
	background-color: var(--accent);
}

.top {
	background-color: #F1EBE5;
	position: absolute;
	right: 0;
	z-index: 1;
	text-align: center;
}

.top__content {
	display: none;
}

.top__title {
	font-weight: 700;
	font-size: 20px;
	line-height: 1em;
	text-transform: uppercase;
}

a.top__phone {
	font-size: 28px;
	font-weight: 700;
	color: var(--text);
}

.top__icon {
	height: 32px;
	width: auto;
}

.header {
	background-image: url(/images/header__bg.webp);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 800px;
	position: relative;
}

.header__content {
	position: absolute;
	background-color: rgba(0,0,0, .6);
	top: 15%;
	color: #fff;
	right: 10%;
}
.header__title {
	line-height: 1em;
	text-shadow: 0 0 6px #000;
	text-transform: uppercase;
}

.header__p {
	font-size: xx-large;
	line-height: 1em;
}

.services__title {
	font-weight: 700;
	text-transform: uppercase;
}

.service {
	position: relative;
}

.service__img, .partner__img {
	max-width: 100%;
	height: auto;
}

.service__title {
	font-size: 22px;
	max-width: 100px;
	position: absolute;
	bottom: 15px;
	left: 15px;
	color: #fff;
	text-shadow: 0 0 5px #000;
	line-height: 1em;
	font-weight: 700;
	text-transform: uppercase;
}

.advantage__title {
	font-weight: 700;
	text-transform: uppercase;
}

.requirement__title {
	font-weight: 700;
	line-height: 1em;
	font-size: 52px;
}

.requirement__p {
	line-height: 1em;
}

.partners__title {
	line-height: 1em;
	font-weight: 700;
	text-transform: uppercase;
}

.partners__hr {
	background: var(--text);
}

footer {
	background-color: #0F0F0F;
	color: #fff;
}