/* === DESKTOP FIRST === */

/* xl <= Extra extra large (xxl) */
@media (max-width : 1400px) {
	.header {
		background: url(/images/header__bg_1400.webp) center bottom no-repeat;
		background-size: cover;
	}
}

/* lg <= Extra large (xl) */
@media (max-width : 1200px) {
	.header {
		background: url(/images/header__bg_1200.webp) center bottom no-repeat;
		background-size: cover;
	}
}

/* md <= Large (lg) */
@media (max-width : 992px) {
	.header {
		background: url(/images/header__bg_992.webp) center bottom no-repeat;
		background-size: cover;
	}
}

/* sm <= Medium (md) */
@media (max-width : 768px) {
	.top {
		position: sticky;
		top: 0;
		box-shadow: 0 0 3px 6px rgba(0,0,0, .3);
	}
	.top__content {
		display: block;
	}
	.header {
		height: 300px;
		background: url(/images/header__bg_768.webp) center bottom no-repeat;
		background-size: cover;
	}
	.header__content {
		display: none;
	}
	.service__img {
		width: 100%;
	}

}

/* xs <= Small (sm) */
@media (max-width : 576px) {
	.header {
		height: 250px;
		background: url(/images/header__bg_576.webp) center bottom no-repeat;
		background-size: cover;
	}
}


/* === MOBILE FIRST === */

/* Custom (xs) */
@media (min-width : 0) {

}

/* Small (sm) */
@media (min-width : 576px) {

}

/* Medium (md) */
@media (min-width : 768px) {

}

/* Large (lg) */
@media (min-width : 992px) {

}

/* Extra large (xl) */
@media (min-width : 1200px) {
	.text {
		font-size: 18px;
	}
}

/* Extra extra large (xxl) */
@media (min-width : 1400px) {
	.text {
		font-size: 22px;
	}
}
