/* xl <= Extra extra large (xxl) */
@media (max-width : 1400px) {
	.header {
		background-image: url(/images/header__bg_1400.webp);
	}
}

/* lg <= Extra large (xl) */
@media (max-width : 1200px) {
	.header {
		background-image: url(/images/header__bg_1200.webp);
	}
}

/* md <= Large (lg) */
@media (max-width : 992px) {
	.header {
		background-image: url(/images/header__bg_992.webp);
	}
}

/* sm <= Medium (md) */
@media (max-width : 768px) {
	.top {
		box-shadow: 0 0 3px 6px rgba(0, 0, 0, .3);
		position: sticky;
		top: 0;
	}

	.top__content {
		display: block;
	}

	.header {
		background-image: url(/images/header__bg_768.webp);
		height: 300px;
	}

	.header__content {
		display: none;
	}

	.service__img {
		width: 100%;
	}

}

/* xs <= Small (sm) */
@media (max-width : 576px) {
	.header {
		background-image: url(/images/header__bg_576.webp);
		height: 250px;
	}
}

@media (max-width : 340px) {
	.top__icon {
		display: none;
	}
}